:root {
    --defaultBtncolor: #0E8784;
    --hoverBtnColor: #66D2CF;
--disableBtncolor: #E2DEDB;
}
button{
    width: 200px;
    height: 30px;
    background-color: var(--defaultBtncolor);
border: none;

}
button:hover{
    background-color: var(--hoverBtnColor);
}
button:active{
    background-color: var(--disableBtncolor);
}